{% extends "base.html" %}
{% block page_content %}
<h1>Мои сообщения</h1>
<div class="row">
{% for post in posts %}
    <div class="col-md-4">
      <div class="card md-2">
        <div class="card-body">
          <h5 class="card-title">{{ blog.title }}</h5>
          <p class="card-text">{{ project.created_on }}</p>
          <a href="{% url 'blog_detail' blog.pk %}"
            class="btn btn-primary">
            Подробнее
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
</div>
{% endblock %}